body{
    background-color: #222831;
}


header{
    display:flex;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
    height:10vh;
    background-color: #222831;
    box-shadow: 0 2px 5px rgba(24, 26, 29, 0.1); 
    position: fixed;
    left: 0%;
    right: 0%; 
    top: 0%;

}

#logo{
    border-radius: 50%;
    margin-left:30px;
    height:40px;
}
#title{
    font-family:'Times New Roman', Times, serif;
    color: #EEEEEE;
    font-size: 2rem;
   
}

#music-player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: #222831;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 5px rgba(26, 24, 29, 0.3);
    height: 12vh;
}
.status{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls button {
    margin: 0 ;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #00ADB5; 
    color: white;
    transition: background-color 0.3s ease;
}


.controls button:hover {
    background-color: #30cae6; 
    
}

#shuffle, #repeat{
    background-color: #393E46;
}

#shuffle:hover, #repeat:hover{
    background-color: #00ADB5;
}

.border-teal{
    border: 1px solid #00ADB5 !important;
}

#playback-status {
    color: white;
    font-size: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}


#progress-bar {
    width: 25vw; 
    height: 25%;
    border-radius: 10px;
    background-color: #393E46;
}

#progress-bar:hover {
    cursor: pointer;
    box-shadow: 0 0px 4px rgba(215, 219, 219, 0.5);
}

#progress-bar::-webkit-progress-value {
    background-color: #EEEEEE; 
}

#progress-bar::-moz-progress-bar {
    background-color: #EEEEEE; 
}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

#volume-control {
    width: 8vw; 
    height: 3%;
    accent-color: #969494;
}

#volume-control:hover{
    accent-color: #00ADB5;
}

#volume-icon{
    font-size: 1rem;
    color: #EEEEEE;  
}

#track-info {
    display: flex;
    align-items: center;
}

#track-info img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
    border-radius: 5px;
}

#track-info span {
    color: white;
    font-size: 0.8rem; 
    display: flex;
    flex-wrap: wrap;
    
}

#track-image {
    width: 50px; 
    height: 50px; 
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#track-columns{
    margin-top: 11vh;
    color: #969494;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr;
}


hr{
    border: 0.5px solid #969494;
}

#tracks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(24, 26, 29, 0.3);
    
}

.track{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr;
    gap: 10px;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
}

.track:hover{
    box-shadow: 0 4px 14px rgba(91, 196, 228, 0.5);
    cursor: pointer;
}

.track-name{
    color: #EEEEEE;
}

.track-artist, .track-album, .track-duration, .track-number{
    color: #969494;

}

#track-div{
    background-color: #393E46;
    border-radius: 5px;
}


.hover-play{
    position: absolute;
    opacity: 0;
    font-size: 1rem;
    background-color: #393E46;
}

.track:hover .hover-play{
    opacity: 1;
}



